/* @import url("/styles/fonts.css"); */

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/Sofia Pro Bold Az.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
